@media (max-width: 768px) {

    .fixed-nav {
        background-color: rgba(189, 147, 84, 0.9);
        padding: 10px 0;
    }

    .fixed-nav ul {
        flex-direction: column; 
    }

    .fixed-nav ul li {
        margin: 0;
        padding: 10px 0;
    }

    .fixed-nav ul li a {
        font-size: 16px; 
        padding: 10px;
    }

    .cover-text h1 {
        font-size: 2em; 
        padding: 10px; 
    }

    .cover-text p {
        font-size: 1em; 
    }

    .about-text h2 {
        font-size: 1.5em;
    }

    .about-text p {
        font-size: 0.9em; 
    }

    .menu-item-wrapper {
        flex-direction: column; /* Mengubah orientasi item menu menjadi kolom */
        align-items: center; /* Mengatur agar item menu berada di tengah */
    }

    .signature,
    .dessert,
    .drinks {
        margin: 20px 0; /* Mengatur spasi antara item menu */
        max-width: none; /* Menghapus batasan lebar maksimum item menu */
    }

    .visit-desc {
        width: 90%; /* Mengubah lebar konten "Visit" */
    }

    /* Founder */
    .founder-info h2 {
        font-size: 1.5em; /* Mengubah ukuran teks judul "Founder" */
        margin-left: 150px; /* Mengubah margin kiri pada teks judul "Founder" */
    }

    .founder-info p {
        font-size: 1em; /* Mengubah ukuran teks paragraf "Founder" */
    }

    footer {
        padding: 15px 0; /* Mengubah padding footer untuk layar <= 768px */
        font-size: small;
    }
}


@media (max-width: 900px) {
    .fixed-nav {
        padding: 15px 0;
    }

    .fixed-nav ul {
        flex-direction: row; 
    }

    .fixed-nav ul li {
        padding: 0 20px;
    }

    .cover-text h1 {
        font-size: 3em;
        padding: 20px; 
    }

    .cover-text p {
        font-size: 1.5em; 
    }

    .about-text h2 {
        font-size: 2em; /* Mengubah ukuran teks judul untuk layar besar */
    }

    .about-text p {
        font-size: 1em; /* Mengubah ukuran teks paragraf untuk layar besar */
    }

    .menu-title h2 {
        font-size: 30px; /* Mengubah ukuran teks judul menu */
    }

    .menu-item-wrapper {
        justify-content: space-between; /* Mengatur agar item menu berada di sekitar */
    }

    .signature,
    .dessert,
    .drinks {
        margin: 0; /* Menghapus spasi antara item menu */
    }

    .visit-desc {
        width: 80%; /* Mengubah lebar konten "Visit" */
    }

    /* Founder */
    .founder-info h2 {
        font-size: 2em; /* Kembali ke ukuran teks judul "Founder" asli */
        margin-left: 190px; /* Kembali ke margin kiri asli pada teks judul "Founder" */
    }

    .founder-info p {
        font-size: 1.2em; /* Kembali ke ukuran teks paragraf "Founder" asli */
    }

    footer {
        padding: 10px 0; /* Mengubah padding footer untuk layar <= 1200px */
        font-size: smaller;
    }
}
